## Libraries

In [1]:
import community
import networkx as nx
import pandas as pd

## Graf 1

In [10]:
source_lst = ["Mary","Mary","Edgar","Edgar","Alice","Alice","Alice","Bob",
              "Rafael","Frederice","Rafael","Aldo","Aldo"]
target_lst = ["Bob","Alice","Alice","Frederice","Bob","Rafael","Frederice","Rafael",
              "Jim","Jim","Aldo","Stefan","Pierre"]
df_g = pd.DataFrame(list(zip(source_lst,target_lst)), columns=["Source","Target"])
df_g

       Source     Target
0        Mary        Bob
1        Mary      Alice
2       Edgar      Alice
3       Edgar  Frederice
4       Alice        Bob
5       Alice     Rafael
6       Alice  Frederice
7         Bob     Rafael
8      Rafael        Jim
9   Frederice        Jim
10     Rafael       Aldo
11       Aldo     Stefan
12       Aldo     Pierre

In [7]:
g = nx.from_pandas_edgelist(df_g, source="Source", target="Target")
g = g.to_undirected()

In [8]:
print("Density dari graf: " + str(nx.classes.function.density(g)))

Density dari graf: 0.28888888888888886

In [17]:
print("Shortest Path dari Mary dengan Pierre: " + str(len(nx.bidirectional_shortest_path(g,"Mary","Pierre"))-1))

Shortest Path dari Mary dengan Pierre: 4

In [43]:
degree = nx.algorithms.centrality.degree_centrality(g)
degree_df = pd.DataFrame(list(zip(list(degree.keys()),list(res.values()))),
                         columns=['Node','Degree Centrality']).sort_values(
                             "Degree Centrality",ascending=False).reset_index(drop=True)
print("Degree centrality pada aktor Mary: " + str(degree_df[degree_df['Node']=='Mary']["Degree Centrality"].values[0]))

Degree centrality pada aktor Mary: 0.2222222222222222

## Graf 2

In [19]:
source_lst_2 = ['a','a','a']
target_lst_2 = ['b','c','d']
df_g_2 = pd.DataFrame(list(zip(source_lst_2,target_lst_2)), columns=["Source","Target"])
df_g_2

  Source Target
0      a      b
1      a      c
2      a      d

In [20]:
g_2 = nx.from_pandas_edgelist(df_g_2, source="Source", target="Target")
g_2 = g_2.to_undirected()

In [21]:
print("Avg Path Length dari graf: " + str(nx.average_shortest_path_length(g_2)))

Avg Path Length dari graf: 1.5

In [23]:
print("Avg Degree dari graf: " + str(sum([val for (node, val) in g_2.degree()])/g_2.order()))

Avg Degree dari graf: 1.5

In [62]:
closeness = nx.algorithms.centrality.closeness_centrality(g_2, wf_improved=False)
closeness_df = pd.DataFrame(list(zip(list(closeness.keys()),list(closeness.values()))),
                         columns=['Node','Closeness Centrality']).sort_values(
                             "Closeness Centrality",ascending=False).reset_index(drop=True)
print("Closeness centrality pada aktor A: " + str(closeness_df[closeness_df['Node']=='a']["Closeness Centrality"].values[0]))

Closeness centrality pada aktor A: 1.0

In [61]:
closeness_df

  Node  Closeness Centrality
0    a                   1.0
1    b                   0.6
2    c                   0.6
3    d                   0.6

## Graf 3

In [44]:
source_lst_3 = ["Ian","Ian","Mary","Aldo","Bob"]
target_lst_3 = ["Aldo","Mary","Bob","Alice","Alice"]
df_g_3 = pd.DataFrame(list(zip(source_lst_3,target_lst_3)), columns=["Source","Target"])
df_g_3

  Source Target
0    Ian   Aldo
1    Ian   Mary
2   Mary    Bob
3   Aldo  Alice
4    Bob  Alice

In [50]:
g_3 = nx.from_pandas_edgelist(df_g_3, source="Source", target="Target")
g_3 = g_3.to_undirected()

In [56]:
betweennes = nx.algorithms.centrality.betweenness_centrality(g_3, normalized=True)
betweenness_df = pd.DataFrame(list(zip(list(betweennes.keys()),list(betweennes.values()))),
                         columns=['Node','Betweenness Centrality']).sort_values(
                             "Betweenness Centrality",ascending=False).reset_index(drop=True)
print("Betweenness centrality pada aktor Mary: " + str(betweenness_df[betweenness_df['Node']=='Mary']["Betweenness Centrality"].values[0]))

Betweenness centrality pada aktor Mary: 0.16666666666666666